{% extends 'base.html' %} {% block header %}
<link rel="stylesheet" type="css" href="../static/style.css" />
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <a class="btn btn btn-outline-warning btn-lg" href="#" role="button">
    Saved Shows</a
  >
  <button
    class="btn btn btn-outline-warning btn-lg"
    type="button"
    data-bs-toggle="offcanvas"
    data-bs-target="#offcanvasExample"
    aria-controls="offcanvasExample"
  >
    Filter
  </button>

  <div
    class="offcanvas offcanvas-start"
    tabindex="-1"
    id="offcanvasExample"
    aria-labelledby="offcanvasExampleLabel"
  >
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Filters</h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>
    <div class="offcanvas-body">
      <div>
        Enter the detials of the music event you're after!!
        <div class="container-fluid">
          <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Location"
              aria-label="Location"
            />
          </form>
          <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Date"
              aria-label="Date"
            />
          </form>
        </div>
      </div>
      <div class="dropdown">
        <button
          class="btn btn-outline-warning dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
        >
          Genre
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">ROCK</a></li>
          <li><a class="dropdown-item" href="#">POP</a></li>
          <li><a class="dropdown-item" href="#">COUNTRY</a></li>
          <li><a class="dropdown-item" href="#">INDIE</a></li>
          <li><a class="dropdown-item" href="#">K-POP</a></li>
          <li><a class="dropdown-item" href="#">OTHER</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block content %}

<h1 style="color: #f0a51b">ROCK</h1>
<div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card-group" style="padding: 3rem">
      {% for music_show in music_shows %}
      <div class="card mx-3">
        <img
          class="card-img-top"
          src="{{music_show.image}}"
          alt="music show picture"
        />
        <div class="card-body">
          <h5 class="card-title">{{music_show.name}}</h5>
          <p class="card-text">{{music_show.description}}</p>
        </div>
        <div class="card-footer">
          <a
            href="{{url_for('music_show.show', id=music_show.id)}}"
            class="btn btn-outline-warning btn"
          >
            View Details
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
