{% extends 'base.html' %} {% from 'bootstrap5/form.html' import render_form %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col col-lg-5">
      <img src="{{music_show.image}}" class="d-block w-100" alt="showImage1" />
      <div>
        <h1>Show Deatils</h1>
        <h4 style="font-size: medium; color: #ffff">
          {{music_show.description}}
        </h4>
      </div>
    </div>
    <div class="col gap-1 col-lg-7">
      <div class="d-grid gap-2 d-md-block">
        <div
          class="overflow-auto"
          style="max-width: 10000px; max-height: 790px"
        >
          <div>
            <h1>{{music_show.name}}</h1>
            <a class="btn btn-warning" href="#" role="button">Edit</a>
            <p>- Show date and time</p>
            <p>- Show location</p>
            <p>- Show Artists</p>
          </div>
          <button type="button" class="btn btn-info btn-primary" data-toggle="modal" data-target="#eventModal" style="background-color: #4228d4" style="color:#ffffff">Book</button>
        
            <div class="modal" id="eventModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Book Tickets</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <p> Fill out the details to confirm booking </p>
                        <form>
                          
                            <div id="name">
                                <label for="creatorName">Name</label>
                                <input type="text" id="creatorName" class="form-control" placeholder="Name"/>
                            </div>
                     
                            <div id="email">
                                <label for="InputEmail">Email address</label>
                                <input type="email" class="form-control" id="InputEmail" placeholder="Enter email">
                            </div>

                            <div class="form-group" id="Entrants">
                              <label for="FormControlSelect">Ticket Type</label>
                              <select class="form-control" id="FormControlSelect">
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>

                              </select>
                          </div>
                                                
                            <div class="form-group" id="Entrants">
                                <label for="FormControlSelect">Number of Tickets</label>
                                <select class="form-control" id="FormControlSelect">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                </select>
                            </div>

                            

                            

                              <div id="paymentchoice">
                                <label class="radio-inline"><input type="radio" name="optradio" checked>Visa/Mastercard</label>
                                
                            </div>

                            <div id="payment">
                                <label for="paymentnumber">Card Number</label>
                                <input type="paymentno" class="form-control" id="paymentnumber" placeholder="0000-0000-0000-0000">
                            </div>

                            <div id="ccv">
                                <label for="ccvno">CVS</label>
                                <input type="ccvnumber" class="form-control" id="ccvno" placeholder="000">
                            </div>

                            <div id="expire">
                                <label for="expiry">Expiry Date</label>
                                <input type="expiryno" class="form-control" id="expiry" placeholder="MM/YY">
                            </div>
                          </div>
                            

                        </form>
                    </div>

                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary">Book</button>
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                  </div>
                </div>
              </div>
          
          <div>
            <p>- Ticket Type 1 (Closest to Stage): $50.00</p>
            <p>- Ticket Type 2 (Near Food Stalls): $45.00</p>
            <p>- Ticket Type 3: $30.00</p>
          </div>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <nav class="navbar bg-body-tertiary">
              <div class="container-fluid">
                <form class="d-flex" role="search">
                  <input
                    class="form-control me-2"
                    type="search"
                    placeholder="Enter Promocode"
                    aria-label="Search"
                  />
                  <button class="btn btn-warning" type="submit">Search</button>
                </form>
              </div>
            </nav>
          </div>
          <div>
            <h1>Other Shows</h1>
          </div>
          <div class="container-fluid">
            <div class="row">
              <div class="col col-lg-4">
                <div class="card" style="width: 18rem">
                  <img
                    src="https://freerangestock.com/sample/129484/live-music-concert-with-audience.jpg"
                    class="card-img-top"
                    alt="showImage"
                  />
                  <h5 class="card-title">Show Name</h5>
                  <div class="card-body">
                    <p class="card-text">
                      Event Date - Location - Event artist - Event status
                    </p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                      <a href="#" class="btn btn-outline-info btn-sm"
                        >Details</a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="col col-lg-4">
                <div class="card" style="width: 18rem">
                  <img
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/Tame_Impala_at_Flow_Festival_Helsinki_Aug_10_2019_-24.jpg/1200px-Tame_Impala_at_Flow_Festival_Helsinki_Aug_10_2019_-24.jpg"
                    class="card-img-top"
                    alt="showImage"
                  />
                  <h5 class="card-title">Show Name</h5>
                  <div class="card-body">
                    <p class="card-text">
                      Event Date - Location - Event artist - Event status
                    </p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                      <a href="#" class="btn btn-outline-info btn-sm"
                        >Details</a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="col col-lg-4">
                <div class="card" style="width: 18rem">
                  <img
                    src="https://koreabyme.com/wp-content/uploads/2020/12/Slide1-8-1024x683.jpg"
                    class="card-img-top"
                    alt="ShowImage"
                  />
                  <h5 class="card-title">Show Name</h5>
                  <div class="card-body">
                    <p class="card-text">
                      Event Date - Location - Event artist - Event status
                    </p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                      <a href="#" class="btn btn-outline-info btn-sm"
                        >Details</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <h1>Enter your comments</h1>
          </div>
          <div class="row border-bottom">
            {{render_form(form,"/music_shows/{0}/comment".format(music_show.id))}}
            {% for comment in music_show.comments %}
            <div class="col-md-12">
              <b
                >{{ comment.user }}
                <span class="ml-2 text-muted"
                  >{{comment.created_at.strftime("%d/%m/%Y at %H:%M %p")}}</span
                ></b
              >
              <p>{{ comment.text }}</p>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
